* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

button {
    cursor: pointer;
}

h1 {
    text-align: center;
    padding: 30px 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 40px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    h1 {
        font-size: 60px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    h1 {
        font-size: 60px !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    h1 {
        font-size: 30px !important;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
