body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.start {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(45deg, #f15fba, #88d1f5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}

.start_note {
    font-size: 30px;
    margin-bottom: 30px;
    color: white;
}

.form-login {
    padding: 30px 0;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-top: 20px;
}

.form-title {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 0.5px solid lightgray;
    padding-bottom: 20px;
    color: #f15fba;
}

.form_group {
    display: flex;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 0 30px;
}
.form_group input,
.form_group select {
    flex:1;
    height: 40px;
}

.form_group input, select {
    border: 1px solid gray;
    width: 70%;
    padding: 7px;
    outline: none;
    font-size: 16px;
}

.form_group input {
    border: none;
    border-bottom: 2px solid #ccc;
}

.form_group select{
    padding: 5px;
    border: 2px solid #ccc;
}

.submit-button {
    padding: 12px;
    border: none;
    background-color: #2691d9;
    color: #fff;
    border-radius: 20px;
    font-size: 16px;
    margin: 0 30px;
}

footer {
    position: absolute;
    padding: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.3);
}