{% extends "base.j2" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/end.css') }}" />
<div class="end">
    <div class="note_info"><span>*</span> Bạn vui lỏng bỏ từng chai vào để máy bắt đầu đếm khi hết chai vui lòng nhấn
        bút end để kết thúc
    </div>
    <button type="button" id="btn_end">Kết thúc</button>


    <div id="modal_container">
        <div class="modal" id="modal">
            <div class="modal_header">
                <div id="close_modal">x</div>
            </div>
            <div class="modal_body">
                <ul>
                    <li>Sinh viên: Nguyễn Văn A</li>
                    <li>Mã sinh viên: 123456</li>
                    <li>Số lượng: 10</li>
                </ul>
                <div class="note_info"><span>*</span> Ghi chú: nếu có sai xót vui lòng ghi chú vào ô bên dưới</div>
                <form action="" id="confirm_form" method="post">
                    <textarea name="note" id="note" placeholder="Ghi chú"></textarea>
                    <button>Xác nhận</button>
                </form>
            </div>
        </div>
    </div>

</div>
<script src="{{ url_for('static', filename='js/end.js') }}"></script>
{% endblock content %}