{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/start.css') }}" />
<div class="start">
    <div class="start_note"><span>*</span> Vui lòng nhập thông tin nhấn nút start để bắt đầu</div>
    <form action="" method="post">
        <div class="form_group">
            <label for="mssv">Mã số sinh viên:</label>
            <input type="text" name="mssv" id="mssv">
        </div>
        <div class="form_group">
            <label for="hoten">Họ và tên:</label>
            <input type="text" name="hoten" id="hoten">
        </div>
        <div class="form_group">
            <label for=""></label>
            <select name="department" id="">
                {% for d in departments %}
                    <option value="{{d.id}}">{{d.name}}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit">Bắt đầu</button>
    </form>
</div>
{% endblock content %}