{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/start.css') }}" />
<div class="start">
    <div class="start_note">BỎ RÁC TÍCH ĐIỂM</div>
    <form class="form-login" action="" method="post">
        <div class="form-title">Đăng nhập</div>
        <div class="form_group">
          <input placeholder="Mã số sinh viên" type="text" name="mssv" id="mssv" />
        </div>
        <div class="form_group">
          <input placeholder="Họ và tên" type="text" name="hoten" id="hoten" />
        </div>
        <div class="form_group">
          <select name="department" id="">
            {% for d in departments %}
            <option value="{{d.id}}">{{d.name}}</option>
            {% endfor %}
          </select>
        </div>
        <button class="submit-button" type="submit">Bắt đầu</button>
      </form>
      <footer>KLTN © 2022 Nguyen Thi Huyen - Nguyen Nhu Ha</footer>
</div>
{% endblock content %}